{:devices {:TV {:description "Panansonic TV"
                :actions {:power {:remote :tv
                                  :button "KEY_POWER"}
                          :ok {:remote :tv
                               :button "KEY_OK"}
                          :source {:remote :tv
                                   :button "TV/AV"}
                          :mute {:remote :tv
                                 :button "KEY_MUTE"}
                          :volume-up {:remote :tv
                                      :button "KEY_VOLUMEUP"}
                          :volume-down {:remote :tv
                                        :button "KEY_VOLUMEDOWN"}
                          :up {:remote :tv
                               :button "KEY_UP"}
                          :down {:remote :tv
                                 :button "KEY_DOWN"}
                          :left {:remote :tv
                                 :button "KEY_LEFT"}
                          :right {:remote :tv
                                  :button "KEY_RIGHT"}}}
           :receiver {:description "Marantz Receiver"
                      :actions {:power-on {:remote :receiver-power
                                           :button "POWER_ON"}
                                :power-off {:remote :receiver-power
                                            :button "POWER_OFF"}
                                :power {:remote :receiver-functions
                                        :button "SOURCE_ON-OFF"}
                                :volume-up {:remote :receiver-functions
                                            :button "VOLUME_UP"}
                                :volume-down {:remote :receiver-functions
                                              :button "VOLUME_DOWN"}
                                :mute {:remote :receiver-functions
                                       :button "MUTE"}
                                :cd {:remote :receiver-functions
                                           :button "CD"}
                                :phono {:remote :receiver-functions
                                              :button "PHONO"}
                                :tuner {:remote :receiver-functions
                                              :button "TUNER"}}}}
 :remotes {:tv {:name "Panasonic_N2QAYB000048"}
           :receiver-power {:name "Marantz_RC8000PM"}
           :receiver-functions {:name "Marantz_RC8000PM_RC-5"}}}
