[Service]
ExecStart=/usr/bin/java -jar /home/pi/sahil/pimote-api-0.1.0-SNAPSHOT-standalone.jar
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=pimote-api
User=pi
Group=pi

[Install]
WantedBy=multi-user.target
